<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <% for(var q of Quote) { %>
        <div class="card text-center">
            <!-- <div class="card-header">
                Featured
            </div> -->
            <div class="card-body">
                <!-- <h5 class="card-title">Placeholder</h5> -->
                
                <p class="card-text"><%= q.quote %></p>
            </div>
            <div class="card-footer text-muted">
                <%= q.name %>
                <%= q.createdAt %>
            </div>
        </div>
            <% } %>
    </div>
</body>
</html>